
<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">

<div fxFlex="80" *ngIf="pokemon">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>{{pokemon.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{pokemon.src}} alt={{pokemon.name}}>
    <mat-card-content>
      <p>{{pokemon.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button (click)="goBack()">BACK</button>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
<div fxFlex [hidden]="pokemon">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>


</div>
