
<div class="container"
fxLayout="row"
fxLayout.sm="column"
fxLayout.xs="column"
fxLayoutAlign.gt-md="space-around center"
fxLayoutGap="10px"
fxLayoutGap.xs="0">

<div fxFlex="30" *ngIf="pokemon" [@visibility]="visibility">
  <mat-card>
    <mat-card-header>
      <mat-card-title>
        <h3>{{pokemon.name | uppercase}}</h3>
      </mat-card-title>
    </mat-card-header>
    <img mat-card-image src={{pokemon.src}} alt={{pokemon.name}}>
    <mat-card-content>
      <p>{{pokemon.description}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button [routerLink]="['/pokemondetail', prev]"><fa-icon [icon]="faLeft"></fa-icon></button>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
          <button mat-button (click)="goBack()">BACK</button> <span class="flex-spacer"></span>
          <button mat-button [routerLink]="['/pokemondetail', next]"><fa-icon [icon]="faRight"></fa-icon></button>
    </mat-card-actions>
  </mat-card>
</div>
<div fxFlex [hidden]="pokemon || errMess">
  <mat-spinner></mat-spinner><h4>Loading . . . Please Wait</h4>
</div>
<div fxFlex *ngIf="errMess">
  <h2>Error</h2>
  <h4>{{errMess}}</h4>
</div>



</div>
