$background-dark: #512DA8;
$background-light: #9575CD;
$background-pale: #D1C4E9;
$background-moredark: #4527A0;


#loginbtn:disabled {
  background-color: $background-pale;
}

#loginbtn {
  background-color: $background-light;
  color: aliceblue;
}
